*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: black;
   
      
          
}

h1{
    text-align: center;
    margin-top: 15px;
}
.difference{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    padding: 40px;

}
#again-btn{
    padding: 8px 10px;
    border: 1px solid white;
    font-size: 25px;
}
hr{
    height: 20px;
    background-color: #fff;
}
.question-mark{
    position: relative;
}
.question-mark div{
    position: absolute;
    left: 50%;
    top: -35px;
    height: 60px;
    width: 60px;
    border: 1px solid white;

}
.question-mark p{
    font-size: 40px;
    text-align: center;
    margin-top: 10px;

}
.bottom-value{
    margin-top:6% ;
    display: flex;
    justify-content:space-around;
    padding: 40px;
     
}
#input{
    width: 30%;
    padding: 10px;
    border: 1px solid white;
    text-align: center;

}

#check{
    padding: 10px;
    border: 1px solid white;
    margin-top: 20px;

}
.common p{
    margin-top: 10px;
}
.para p{
    text-align: center;
    margin-top: 50px;
}

@media (max-width:600px){
  h1{
    font-size: 18px;
  }
  .difference{
    display: block;
    padding: 10px;
    margin-top: 50px;
} 
#again-btn{
    padding: 7px 7px;
    font-size: 18px;
    margin-left: 40%;
}
h2{
    font-size: 18px;
    margin-top: 30px;
    text-align: center;
}
hr{
    height: 15px;
    margin-top: 40px;
}
.question-mark div{
   
    height: 50px;
    width: 50px;

}
.question-mark p{
    font-size: 30px;
   

}
.bottom-value{
    display: block;
     
}
#input{
    height: 30px;
    padding: 10px;
    width: 40%;

}

#check{
    padding: 10px 25px;
    margin-top: 0px;
    

}
.common{
display: flex;
justify-content: space-around;
}
.common-para{
    display: block;
    text-align: center;
    margin-top: 30px;
}
.common p{
    font-size: 12px;
    margin-top: 20px;
}
.para p{
   font-size: 12px;
}

}

